name: test

on:
  push:

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          show-progress: false

      - name: ⚙️ Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          standalone: true

      - name: ⚙️ Set up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .node-version
          cache: pnpm

      - name: Installing dependencies
        run: pnpm install

      - name: Lint
        run: pnpm lint

  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    container:
      image: ghcr.io/visualon/renovate:42.44.0
      # github hosted runners are running as `1001:127` (ubuntu:docker)
      options: -u 1001:0 --group-add 1001 --group-add 12021 --group-add 127

    strategy:
      matrix:
        file:
          - default
          - automergePatch
          - automergeDigest
          - fixes
          - meta
          - shared
          - groups
          - replacements
          - ng
          - vo

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          show-progress: false

      - name: testing ${{ matrix.file }}
        run: renovate-config-validator --strict ${{ matrix.file }}.json
        env:
          LOG_LEVEL: debug

  test-success:
    runs-on: ubuntu-latest
    needs:
      - lint
      - test
    timeout-minutes: 1
    if: always()
    steps:
      - name: Fail for failed or cancelled tests
        if: |
          needs.test.result == 'failure' ||
          needs.test.result == 'cancelled'
        run: exit 1
      - name: Fail for failed or cancelled lint
        if: |
          needs.lint.result == 'failure' ||
          needs.lint.result == 'cancelled'
        run: exit 1
